:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
  --button-font: "Montserrat", sans-serif;
  --primary-color: rgb(1, 32, 78);
  --secondary-color: rgb(2, 131, 145);
  --tertiary-color: rgb(246, 220, 172);
  -high-light-color: rgb(254, 174, 111);
}
